* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

body {
    background: #010103;
}

.bgBlack {
    background-color: #010103;
}

.bg {
    background-color: #13131a; 
}

.text-p {
    color: #ccc;
    line-height: 1.2;
    font-weight: lighter;
    text-align: justify; 
}

.boton-a {
    padding: 0.9rem 2rem;
    color: #000;
    background: #fffacd;
    cursor: pointer;
    text-decoration: none; 
}

.boton-a:hover {
    letter-spacing: .15rem;
    transform: translateY(-3px);
    animation: colorBottom 3s ease-out infinite; 
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 0.9375rem; 
}

.box-grid {
    padding: 3.125rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.3); 
}

.box-grid h3 {
    margin-bottom: 0.5rem;
}

#menu, #detalle {
    padding: 1.25rem 7%;
}

#menu .box-grid div, #detalle .box-grid div {
    color: #fff;
    padding: 0.5rem;
}

#menu .box-grid img, #detalle .box-grid img {
    border-radius: 50%;
    height: 100px;
    width: 100px; 
}

#menu .box-grid h3, #detalle .box-grid h3 {
    color: #fff; 
}

#detalle .box-grid h3 span, #detalle .box-grid div span {
    font-size: small;
}


.nav-a {
    font-size: large;
    color: #fff;
    text-decoration: none;
    margin: 1rem;
}

.nav-a:hover {
    color: #fffacd;
    padding-bottom: 0.5rem; 
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding-top: 1.3rem
}

.bg-button {
background-color: #fffacd; 
}

@media (min-width: 992px) {
    #menu {
        margin: 2rem 5rem 0 5rem;
    }
    #detalle {
        margin: 2rem 5rem 0 5rem;
    }
    .nav-a:hover {
        color: #fffacd;
        padding-bottom: 0.5rem;
        border-bottom: 0.1rem solid #fffacd;
    }
}